{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Welcome - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>

        <p>
           Name: {{ user.name }}
        </p>

        <p>
           Email: {{ user.email }}
        </p>

        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}

    </div>
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
</div>
{% endif %}
{% endblock %}
